* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.CAC form {
    /* display: flex; */
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.CAC form .inputs {
    margin: 10px;
    width: 25%;
}

.CAC form button {
    border: none;
    margin: 10px;
    background-color: #ff7f50;
    padding: 8px;
    border-radius: 15px;
    font-weight: bold;
}

.CAC form button:hover {
    background-color: rgb(248, 103, 50);
}

.CAC {
    background-color: #f8f9facb;
}

h1 {
    text-align: center;
}

